*{
	font: 1em Roboto;
}
header{
	width: 100%;
	height: 65vh;
	background: url(images/tomo.jpg);
	background-position: center;
	background-size: cover;
}
.header-title{
	position: absolute;
	text-transform: uppercase;
	text-align: center;
	height: 300px;
	font-family: Roboto;
	color: white;
	top: 32%;
	left: 24%;
	transform: (50%, 50%)
}
.page-content{
	width: 80%;
	margin: 0 auto;
}
.catogory-content{
	width: 100%;
	padding: 10px 0 40px 0;
}
.ticket-divs{
	width: 100%;
	display: flex;
}
 #catogory.image-box{
	position: relative;
	overflow: hidden;
}
 #catogory .image-box img{
	width: 100%;
	border-radius: 15px;
  	transition: transform 1s;
}
 #catogory:hover .image-box img{
	transform: scale(1.1);
}

.part-small-divs{
	width: 30%;
	background-color: #e897f3;
	border-radius: 20px;
	padding: 20px; 
	transition: 0.4s;
}

.part-div-title{
	text-align: center;
	font-family: Roboto;
	font-weight: 700;
	margin-top: 10px;
	font-size: 19px;
	text-transform: uppercase;
	transition: 0.4s;
}

